*{
    outline: 1px solid magenta;
}

body{
    display: flex;
    flex-direction: column;
}

p{
    padding: 5px;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 0 20px 20px;
}

.header-left{
    display: flex;
    gap: 5px;
}

.header-right{
    display: flex;
}

ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
}

a{
    text-decoration: none;
}

.footer{
    display: flex;
}

.top-section{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.top-section .left-block{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 300px;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.textblock{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    gap: 5px;
}

.textblock .title{
    font-weight: bold;
    font-size: 20px;
}

.top-section-button{
    display: flex;
    width: 100px;
    justify-content: center;
    
}

.top-section-img{
    height: 200px;

}

.body-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-1 .card-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}
